<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>

<!--  ======================= Start Main Area ================================ -->
 <main class="site-main">
<!--  ======================= Start footer Area ============================== -->

<footer class="footer-area">
  <div class="container">
      <div class="">
          <div class="site-logo text-center py-4">
              <a href="/"><img src="/images/portfolio_logo.png" alt="logo"></a>
          </div>
          <div class="social text-center">
              <h5 class="text-uppercase">Follow me</h5>
              <a href="https://www.linkedin.com/in/pooja-patel-6b9224145/"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="https://twitter.com/pooja_patel_2_0?t=Cb1goaCXoW_GijslLjik2A&s=09"><i class="fab fa-twitter"></i></a>
          </div>
      </div>
  </div>
</footer>


<!--  ======================= End footer Area ============================== -->
</main>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
  </html>
