<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>
  <% include partials/header.ejs %>

  <!--  ======================= Start Main Area ================================ -->
  <main class="site-main">

    <!--  ======================= Project Area =============================  -->

    <section class="project-area">
        <div class="container">
            <div class="row grid">
                <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                    <div class="our-project">
                        <div class="img">
                            <a class="test-popup-link" href="/images/project1.jpg">
                                <img src="/images/project1.jpg" alt="portfolio-1" class="img-fluid">
                            </a>
                        </div>
                        <div class="title py-4">
                            <h5 class="text-uppercase">Interview Management System</h5>
                            <span class="text-secondary">•	Interview Management System help to reduce routine tasks such as scheduling interviews as well as manual processes and paperwork. With the help of IMS, HR personnel can hire the best and suitable employees for a job role who prove to be ideal candidates working towards achieving goals and objectives of the organization. </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                    <div class="our-project">
                        <div class="img">
                            <a class="test-popup-link" href="/images/project2.png">
                                <img src="/images/project2.png" alt="portfolio-2" class="img-fluid">
                            </a>
                        </div>
                        <div class="title py-4">
                            <h5 class="text-uppercase">Worketeria</h5>
                            <span class="text-secondary">•	it is a work portal web based application which aims to provide job opportunities to skilled workers who have knowledge and skills but cannot able to find the suitable job.It will be beneficial because no third party involvement in between them and direct contact and searching is there for both. Through our proposed system workers get there compensation as per their work and customers get their work done as per requirement in easy way of finding and deciding</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                    <div class="our-project">
                        <div class="img">
                            <a class="test-popup-link" href="/images/project3.png">
                                <img src="/images/project3.png" alt="portfolio-3" class="img-fluid">
                            </a>
                        </div>
                        <div class="title py-4">
                            <h5 class="text-uppercase">Exosolar</h5>
                            <span class="text-secondary">•	A platform where people can learn a lot about planets that are not part of out solar system and get information about that planets.</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>

    <!--  ======================= End Project Area =============================  -->

  
  
  <% include partials/footer.ejs %>
  </main>
  <script src="/javascripts/appclient.js"></script>
</body>
</html>
